header {
    padding-top: 35px;
    padding-left: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
}
nav .nav-logo img{
    width: 139px;
    height: 60px;
}
nav .nav-links a{
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size:16px;
    gap: 32px;
}
nav .nav-btn button{
    background-color: #30B868;
    weight: 164px;
    height: 44px;
    padding: 12px 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
}
#hero-section {
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-image img {
    width: 100%;
    height: auto;
}
#hero-section .hero-content{

    align-items: center;
    justify-content: center;
    
}
#hero-section .hero-content .early-get-btn button{
    
    background-color: #ffffff;
    weight: 164px;
    height: 44px;
    padding: 12px 16px;
    font-weight: semi-bold;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    margin-top: 24px;
}

#hero-section .hero-content h1{
    text-align: center;
    font-size: 72px;
    font-weight: bold; 
    color:#FFFFFF
}
#hero-section .hero-content h1 span.highlight{
    text-align: center;
    font-size: 72px;
    font-weight: bold; 
    color:#30B868
}