header {
    padding-top: 35px;
    padding-left: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
}
nav .nav-logo img{
    width: 139px;
    height: 60px;
}
nav .nav-links a{
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size:16px;
    gap: 32px;
}
nav .nav-btn button{
    background-color: #30B868;
    weight: 164px;
    height: 44px;
    padding: 12px 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
}
