* {
    margin: 0;
    padding: 0;
    
}
header {
    padding-top: 35px;
    padding-left: 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
}
nav .nav-logo img{
    width: 139px;
    height: 60px;
}
nav .nav-links a{
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size:16px;
    gap: 32px;
}
nav .nav-btn button{
    background-color: #30B868;
    weight: 164px;
    height: 44px;
    padding: 12px 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
}
#hero-section {
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px 20px;
    
}



.hero-content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

#hero-section .hero-content .early-get-btn button {
    background-color: #ffffff;
    weight: 229px;
    height: 35px;
    padding: 8px 12px 8px 12px;
    font-weight: semi-bold;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    align-items: center;
      margin: 0 auto;
}

#hero-section .hero-content h1 {
    font-size: 68px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.1;
    margin: 0 0 20px 0;
}

#hero-section .hero-content h1 span.highlight {
    color: #34d399;
}

#hero-section .hero-content p {
    font-size: 20px;
    color: #e2e8f0;
    margin-bottom: 50px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#hero-section .hero-content .nav-btn button {
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px 16px 16px;
    border: none;
    border-radius: 4px;
    margin: 0 15px;
    display: flex;
    gap: 10px;
}

#hero-section .hero-content .nav-btn button img {
    width: 20px;
    height: 20px;
}
#hero-section .hero-content .see-button button img {
    align-items: center;
    width: 20px;
    height: 20px;
}
#hero-section .hero-content .early-get-btn button img {
    align-items: center;
    width: 16px;
    height: 16px;
}
#hero-section .hero-content .see-button button {
    display: flex;
    width: 198;
    height: 52px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px 16px 16px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    align-items: center;
    margin: 0 auto;
}
#hero-section .hero-content .btn-flex{
    display: flex;
    justify-content: center;
}
#features-section {
    padding: 120px 120px;

}
#features-section .features-content{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
#features-section .features-content .features-header h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold; 
    color:#001931;
   margin: 0 auto;
}
#features-section .features-content .features-header p{
    text-align: center;
    font-size: 18px;
    font-weight: normal; 
    color:#627382;
    
}
#features-section .features-content .features-cards{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}
#features-section .features-content .features-cards .feature-card{
    background-color: #ffffff;
    color: #0a2540;
    width: 260px;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
} 
#features-section .features-content .features-cards .feature-card img.icon{
    width: 50px;
    height: 50px;
    background-color: #ff5a5a;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 0 auto 20px;
}
#features-section .features-content .features-cards .feature-card h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#features-section .features-content .features-cards .feature-card p{
    font-size: 16px;
    color: #6b7280;
    
}

#second-brain-section {
    
    padding: 120px;
    background-color: #ffffff;
    margin: 0 auto;
}

.second-brain-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 50px;
    margin: 0 auto;
}

.brain-image img {
    width: 600px;
    height: 600px;
}



#second-brain-section .second-brain-content .brain-text h4 {
    color: #30B868;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.brain-text h3 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height: 1.2;
    margin-bottom: 24px;
}

.description {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 32px;
}

.checklist {
    list-style: none;
    font-weight: bold;
    color:#001931
}

.checklist li {
    font-size: 16px;
    color: #627382;
    line-height: 1.8;
    display: flex;
    align-items: center;
    gap: 12px;
}

.checklist li img {
    width: 16px;
    height: 16px;
}
